In [22]:
import pandas as pd

In [23]:
# Analyzing the race column

In [26]:
df = pd.read_csv('adult.data.csv')
df['race'].count()

32561

In [28]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [30]:
wp = df['race'] == 'White'
print('Number of white people:- ',wp.sum())

Number of white people:-  27816

In [32]:
bp = df['race'] == 'Black'
print('Number of black people:- ',bp.sum())

Number of black people:-  3124

In [33]:
api = df['race'] == 'Asian-Pac-Islander'
print('Number of Asian-Pac-Islander people:- ',api.sum())

Number of Asian-Pac-Islander people:-  1039

In [36]:
aie = df['race'] == 'Amer-Indian-Eskimo'
print('Number of Amer-Indian-Eskimo people:- ',aie.sum())

Number of Amer-Indian-Eskimo people:-  311

In [38]:
other = df['race'] == 'Other'
print('Number of other people:- ',other.sum())

Number of other people:-  271

In [39]:
# What is the average age of men?

In [42]:
avg_age = df.loc[df['sex'] =='Male', 'age']
print("The average age of men:- ",avg_age.mean())

The average age of men:-  39.43354749885268

In [44]:
df['age'].mean()

38.58164675532078

In [45]:
#What is the percentage of people who have a Bachelor's degree?

In [48]:
bchl = df['education'] == 'Bachelors'
bchl_total = bchl.sum()
bchl_total

5355

In [50]:
lenght_edu = len(df['education'])

In [51]:
print("The percentage of people who have a Bachelor's degree:- ",(bchl_total*100)/lenght_edu)

The percentage of people who have a Bachelor's degree:-  16.446055096587944

In [54]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [56]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [58]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [59]:
df[['education','salary']].head(10)

   education salary
0  Bachelors  <=50K
1  Bachelors  <=50K
2    HS-grad  <=50K
3       11th  <=50K
4  Bachelors  <=50K
5    Masters  <=50K
6        9th  <=50K
7    HS-grad   >50K
8    Masters   >50K
9  Bachelors   >50K

In [60]:
filtr = df.loc[(df['education'] == 'Bachelors')|(df['education'] =='Masters')|(df['education'] =='Doctorate') , 'salary'  ] == '>50K'

In [63]:
adv = (f"Number of people with advanced education (Bachelors, Masters, or Doctorate) making more than 50K :- {filtr.sum()}")
print(adv)

Number of people with advanced education (Bachelors, Masters, or Doctorate) making more than 50K :- 3486

In [66]:
total_edu = len(df['education'])
total_edu

32561

In [68]:
print(f"Percentage of people with advanced education (Bachelors, Masters or Doctorate) make more than 50K :- {((filtr.sum())*100)/total_edu}")

Percentage of people with advanced education (Bachelors, Masters or Doctorate) make more than 50K :- 10.70605939621019

In [69]:
# What percentage of people without advanced education make more than 50K ?

In [72]:
len(df['education'])

32561

In [74]:
grt_50k = df.loc[df['salary'] == '>50K' , 'education']
print("Number of people making more than 50K :- ",len(grt_50k))

Number of people making more than 50K :-  7841

In [76]:
#w_adv = int(grt_50k) - int(adv)
print("People without advanced education making more than 50K :- ",(7841-3486))

People without advanced education making more than 50K :-  4355

In [78]:
# What is the minimum number of hours a person works per week?

In [80]:
df['hours-per-week'].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

In [82]:
min_hr = df['hours-per-week']
print(f"Minimum number of hours a person works is {min_hr.min()}")
print(f"Maximum number of hours a person works is {min_hr.max()}")

Minimum number of hours a person works is 1
Maximum number of hours a person works is 99

In [84]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [86]:
hr_50k = df.loc[df['hours-per-week']== min_hr.min() , 'salary'] == '>50K'

In [87]:
hr_len = len(df['hours-per-week'])

In [89]:
perc = ((hr_50k.sum())*100) / hr_len

In [92]:
print(f"Percentage of people who work the mininmum number of hour per week and have a salary of more than 50k is {perc.round(3)} %")

Percentage of people who work the mininmum number of hour per week and have a salary of more than 50k is 0.006 %

In [94]:
# What country has the highest percentage of people that earn >50K and what is that percentage?

In [96]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [98]:
df['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [100]:
country_50k = df.loc[df['salary'] == '>50K' , 'native-country']
max_count = country_50k.value_counts()
max_count

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [102]:
max_count.index.tolist()[0]

'United-States'

In [104]:
print(f"Country that has maximum number of people with salary more than 50k is {max_count.index[0]} with {max_count.max()} people")

Country that has maximum number of people with salary more than 50k is United-States with 7171 people

In [106]:
print(f"Country that has maximum number of people with salary more than 50k is {max_count.index[0]} with {max_count.tolist()[0]} people")

Country that has maximum number of people with salary more than 50k is United-States with 7171 people

In [108]:
len(country_50k)

7841

In [109]:
print(f"Country that has the highest percentage of people that earn >50K is {max_count.index[0]} and percentage is {(max_count.max()*100)/len(country_50k)} (for only >50K salary) and {(max_count.max()*100)/len(df['native-country'])} (for both >50k and <=50K)")

Country that has the highest percentage of people that earn >50K is United-States and percentage is 91.45517153424308 (for only >50K salary) and 22.023279383311323 (for both >50k and <=50K)

In [112]:
# Identify the most popular occupation for those who earn >50K in India.

In [114]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [116]:
df['occupation']

0             Adm-clerical
1          Exec-managerial
2        Handlers-cleaners
3        Handlers-cleaners
4           Prof-specialty
               ...
32556         Tech-support
32557    Machine-op-inspct
32558         Adm-clerical
32559         Adm-clerical
32560      Exec-managerial
Name: occupation, Length: 32561, dtype: object

In [118]:
occ_filtr = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K') , 'occupation']
occ_filtr

11         Prof-specialty
968       Exec-managerial
1327        Other-service
7258       Prof-specialty
7285       Prof-specialty
8124       Prof-specialty
9939       Prof-specialty
10590      Prof-specialty
10661      Prof-specialty
10736      Prof-specialty
11260      Prof-specialty
11384        Tech-support
13422     Exec-managerial
13551     Exec-managerial
13862     Exec-managerial
16017     Exec-managerial
16778     Exec-managerial
16923       Other-service
17259      Prof-specialty
17834    Transport-moving
20417     Exec-managerial
20465      Prof-specialty
21128      Prof-specialty
23474      Prof-specialty
24154               Sales
25739      Prof-specialty
26305        Tech-support
26356     Exec-managerial
27670      Prof-specialty
28264      Prof-specialty
28433      Prof-specialty
28452      Prof-specialty
28557      Prof-specialty
28651      Prof-specialty
28798      Prof-specialty
30111      Prof-specialty
30152      Prof-specialty
30833        Adm-clerical
31327      Prof-specialty
31357      Prof-specialty
Name: occupation, dtype: object

In [119]:
occ_filtr.unique()

array(['Prof-specialty', 'Exec-managerial', 'Other-service',
       'Tech-support', 'Transport-moving', 'Sales', 'Adm-clerical'],
      dtype=object)

In [120]:
popu_occ = occ_filtr.value_counts()
popu_occ

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [124]:
print("The most popular occupation in India in which people are making more than 50K is",popu_occ.index[0])

The most popular occupation in India in which people are making more than 50K is Prof-specialty

In [148]:
# Analyzing the race column
print('1)Number of white people:- ',wp.sum())
print('Number of black people:- ',bp.sum())
print('Number of Asian-Pac-Islander people:- ',api.sum())
print('Number of Amer-Indian-Eskimo people:- ',aie.sum())
print('Number of other people:- ',other.sum())

print("-"*100)

# What is the average age of men
print("2)The average age of men:- ",avg_age.mean())

print("-"*100)

# What is the percentage of people who have a Bachelor's degree?
print("3)The percentage of people who have a Bachelor's degree:- ",((bchl_total*100)/lenght_edu).round(3))

print("-"*100)

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
print(f"4)Percentage of people with advanced education (Bachelors, Masters or Doctorate) make more than 50K :- {(((filtr.sum())*100)/total_edu).round(3)}")

print("-"*100)

# What percentage of people without advanced education make more than 50K ?
print("5)People without advanced education making more than 50K :- ",(7841-3486))

print("-"*100)

# What is the minimum and maximum number of hours a person works per week?
print(f"6)Minimum number of hours a person works is {min_hr.min()}")
print(f"Maximum number of hours a person works is {min_hr.max()}")

print("-"*100)

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
print(f"7)Percentage of people who work the mininmum number of hour per week and have a salary of more than 50k is {perc.round(3)} %")

print("-"*100)

# What country has the highest percentage of people that earn >50K and what is that percentage?
print(f"8)Country that has the highest percentage of people that earn >50K is {max_count.index[0]} and percentage is {(max_count.max()*100)/len(country_50k)} (for only >50K salary) and {((max_count.max()*100)/len(df['native-country']))} (for both >50k and <=50K)")

print("-"*100)

# Identify the most popular occupation for those who earn >50K in India.
print("9)The most popular occupation in India in which people are making more than 50K is",popu_occ.index[0])

print("-"*100)

1)Number of white people:-  27816
Number of black people:-  3124
Number of Asian-Pac-Islander people:-  1039
Number of Amer-Indian-Eskimo people:-  311
Number of other people:-  271
----------------------------------------------------------------------------------------------------
2)The average age of men:-  39.43354749885268
----------------------------------------------------------------------------------------------------
3)The percentage of people who have a Bachelor's degree:-  16.446
----------------------------------------------------------------------------------------------------
4)Percentage of people with advanced education (Bachelors, Masters or Doctorate) make more than 50K :- 10.706
----------------------------------------------------------------------------------------------------
5)People without advanced education making more than 50K :-  4355
----------------------------------------------------------------------------------------------------
6)Minimum number of hours a person works is 1
Maximum number of hours a person works is 99
----------------------------------------------------------------------------------------------------
7)Percentage of people who work the mininmum number of hour per week and have a salary of more than 50k is 0.006 %
----------------------------------------------------------------------------------------------------
8)Country that has the highest percentage of people that earn >50K is United-States and percentage is 91.45517153424308 (for only >50K salary) and 22.023279383311323 (for both >50k and <=50K)
----------------------------------------------------------------------------------------------------
9)The most popular occupation in India in which people are making more than 50K is Prof-specialty
----------------------------------------------------------------------------------------------------